/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  * {
    font-family: "Cabin", serif;

  }

  body {
    zoom: 0.9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 220px 1fr;
    grid-template-columns: 280px 1fr;
    grid-template-areas: "left-sidebar header"
                         "left-sidebar main";
    height: 100%;
    color: #022e40;
    border-color: #022e40;
    background-color: #2d9aa6;
}

h2, h3 {
    color: black;
}

/*header*/

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 70px 110px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #f4f9f8;
    box-shadow: 1px 1px 10px #3c3d3d;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr 350px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
}

/*header-top*/

.header-top-left {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#search {
    height: 40px;
    margin-left: 30px;
    margin-right: 20px;
}

#alert {
    height: 40px;
}

input {
    width: 80%;
    height: 35px;
    border-radius: 20px;
    padding: 0 15px;
    max-width: 400px;
}

input[type=text] {
    border: 2px solid #022e40;
    -webkit-transition: 0.5s;
    transition: 0.25s;
    outline: none;
    background-color: #f4f9f8;
  }

input[type=text]:focus {
    border: 2px solid #2d9aa6;
    background-color: white;
  }

.header-top-right {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 20px;
    align-items: center;
    padding-right: 30px;
    padding-top: 20px;
}

.avatar-small {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    border-style: double;
    border-width: 5px;
    border-color: #2d9aa6;
}


/*header-bottom*/

.header-bottom-left {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 38px 72px;
    grid-template-areas: "avatar greeting"
                         "avatar name";
}

.avatar {
    grid-area: avatar;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-style: double;
    place-self: center;
    border-width: 5px;
    border-color: #2d9aa6;
}

.greeting {
    grid-area: greeting;
    align-self: end;
    font-size: 1.2em;
    justify-self: start;
}

.name {
    grid-area: name;
    font-size: 2.2em;
    min-width: 300px;
    place-self: start;
}

.header-bottom-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    padding-right: 30px;
    gap: 40px;
    padding-bottom: 20px;
}

button {
    cursor: pointer;
    height: 50px;
    width: 120px;
    border-color: #022e40;
    border-radius: 20px;
    background-color:#022e40;
    color:#f4f9f8;
    font-size: 1.2em;
}

button:hover {
    font-weight: 900;
}

/*main*/

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 290px;
    background-color: #f4f9f8;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 15px #3c3d3d;
}


/*main-left*/

.main-left {
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 10px;
}

.card {
    min-height: 200px;
    display: grid;
    grid-template-columns: 10px 1fr;
    border-style: solid;
    border-radius: 12px;
    background-color: white;
    border-width: 1px;
}

.card:hover, .side-card:hover {
    box-shadow: 1px 1px 20px #919e9b;
}

.card-border-left {
    background-color: #2d9aa6;
    border-radius: 12px 0 0 12px;
}

.card-icons img {
    height: 30px;
}

.card-icons {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 20px;
    margin-top: 10px;
}

.card-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 15px;
}

/*main-right*/

.main-right {
    padding-top: 20px;
}

.side-card {
    height: auto;
    width: 270px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-style: solid;
    border-radius: 12px;
    background-color: white;
    border-width: 1px;
}

.announcements {
    display: grid;
    grid-template-rows: auto 1px auto 1px auto;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 15px;
    gap: 15px;
    margin-bottom: 40px;
}

.trending-cards {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.trending-cards .avatar-small {
    margin-right: 10px;
}

.side-card-announcement {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px;
}

.side-card-announcement h3 {
    margin-bottom: 0;
}

.line {
    background-color:#022e40;
    margin: 0 30px;
}

/*left-sidebar*/

.left-sidebar {
    grid-area: left-sidebar;
}

ul img {
    height: 40px;
    filter: invert(1);
}

ul {
    padding: 0;
    color: white;
}

li {
    list-style-type: none;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    font-size: 1.3em;
    padding-left: 40px;
    padding-right: 20px;
    margin-bottom: 10px;
}

li:hover {
    font-weight: 700;
}

li span {
    padding-left: 10px;
}

.dashboard img {
    height: 60px;
    filter: invert(1);
    transform: skewX(-10deg);
}

.dashboard {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-style: italic;
}

.dashboard h1 {
    padding-left: 10px;
}

li, .card, .card.icons, .header-top-right *, .side-card {
    cursor: pointer;
}